<div class="d-flex pt-3{% if not knowledge.activate %} text-muted{% endif %}" id="knowledge_{{ knowledge.id }}">
    <a href="{{ path('admin_knowledge', {'id': knowledge.id}) }}" class="bd-placeholder-img flex-shrink-0 me-2 rounded" style="text-decoration: none" title="Modifier">
        {% if knowledge.icon is empty %}
        <img src="https://dummyimage.com/32/007bff/fff" alt="placeholder" width="32" height="32">
        {% else %}
        <img src="{{ asset('img/icons/' ~  knowledge.icon|default('default.png')) }}" alt="{{ knowledge.icon }}" width="32" height="32">
        {% endif %}
    </a>
    <div class="pb-3 mb-0 small lh-sm{% if not loop.last %} border-bottom{% endif %} w-100">
        <div class="d-flex justify-content-between">
            <div>
                <strong class="text-gray-dark">{{ knowledge.title }}</strong>
                {% if knowledge.category is not empty %}
                <span class="badge bg-secondary">{{ knowledge.category.title }}</span>
                {% endif %}
            </div>

            {% if knowledge.level is not empty %}<span>{{ knowledge.level }}★</span>{% endif %}
            <span class="fa {% if knowledge.activate %}fa-eye{% else %}fa-eye-slash{% endif %}"></span>
            {% if knowledge.article is not empty %}
            <a href="{{ path('admin_example', {'id': knowledge.id}) }}" class="fa fa-file-alt" style="text-decoration: none" title="Modifier l'exemple"></a>
            {% else %}
            <a href="{{ path('admin_example', {'id': knowledge.id}) }}" class="fa fa-file" style="text-decoration: none" title="Créer un exemple"></a>
            {% endif %}
            <a href="{{ path('admin_knowledge', {'id': knowledge.id}) }}" class="fa fa-edit" style="text-decoration: none" title="Modifier"></a>

            {# <div>
                <input type="checkbox" name="publier_{{ knowledge.id }}" id="publier_{{ knowledge.id }}"{% if knowledge.activate %} checked{% endif %}>
                <a href="#" class="fa fa-trash icon form-action fs-5" style="text-decoration: none" title="Supprimer"></a>
            </div> #}
        </div>
        <span class="d-block">{{ knowledge.description }}</span>
    </div>
</div>