
        <h4 class="mb-3" id="presentation">Présentation <span class="fw-lighter fs-6">({{ websites|length }})</span></h4>
        <div class="my-3 p-3 bg-white rounded shadow-sm" id="presentations">
          {% for article in articles %}
          <div class="d-flex{% if not article.activate %} text-muted{% endif %} pt-3" id="presentation_{{article.id}}">
            <div class="pb-3 mb-0 small lh-sm{% if not loop.last %} border-bottom{% endif %} w-100">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark">{{ article.title }}</strong>
                <span class="fa {% if article.activate %}fa-eye{% else %}fa-eye-slash{% endif %}"></span>
                <a href="{{ path('admin_presentation', {'id':article.id}) }}" class="fa fa-edit" style="text-decoration: none" title="Modifier"></a>
              </div>
              <span class="d-block">{{ article.content }}</span>
            </div>
          </div>
          {% endfor %}
          {# <small class="d-block text-end mt-3">
            <a href="#">All suggestions</a>
          </small> #}
        </div>