
        <h4 class="mb-3" id="sites">Sites web <span class="fw-lighter fs-6">({{ websites|length }})</span></h4>
        <div class="my-3 p-3 bg-white rounded shadow-sm" id="websites">
          {% for website in websites %}
          <div class="d-flex{% if not website.activate %} text-muted{% endif %} pt-3" id="website_{{website.id}}">
            <div class="pb-3 mb-0 small lh-sm{% if not loop.last %} border-bottom{% endif %} w-100">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark">{{ website.title }}</strong>
                <span class="fa {% if website.activate %}fa-eye{% else %}fa-eye-slash{% endif %}"></span>
                <a href="{{ path('admin_website', {'id':website.id}) }}" class="fa fa-edit" style="text-decoration: none" title="Modifier"></a>
              </div>
              <span class="d-block">{{ website.content }}</span>
            </div>
          </div>
          {% endfor %}
        </div>